.player_embedder-container{
    position: relative;
    width: 100%;
    max-width: 864px;
}

.player_embedder-container:before{
    content: "";
    display: block;
    padding-top: 56.25%;
}

.player_embedder-overlay{
    position: absolute;
    z-index: 2147483647;
    background-color: rgba(0,0,0,0);
}
.player_embedder-overlay-content{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.32);
    padding-bottom: 4px;
}

.player_embedder-overlay p{
    color: #FFF;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.player_embedder-video{
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}
